name: Greetings

on: [pull_request, issues]

# 给 issue 和 pr 添加自动回复

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - name: Issue first comment
      uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: | 
         感谢小伙伴对本仓库项目的提问，我会尽快处理小伙伴的提问~
         Thank you for your questions about the warehouse project. I will deal with your questions as soon as possible~
        pr-message: | 
         感谢小伙伴对本仓库项目的改进建议，我会尽快处理小伙伴的建议~ 
         Thank you for your suggestions on the improvement of the warehouse project. I will deal with your suggestions as soon as possible~
    - name: Issue assigner
      # You may pin to the exact commit or the version.
      # uses: estrada9166/issue-assigner@160ffbaaa146e34d7f6cea7e0271c240adfb6c3c
      uses: estrada9166/issue-assigner@v1
      with:
        # The GITHUB_TOKEN secret
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # Create comments with the commit information
        WITH_COMMENTS: true
    - name: auto Github Issue Labeller
      # You may pin to the exact commit or the version.
      # uses: larrylawl/auto-github-issue-labeller-action@3bf15b39ebddda551472f6de4c74083194ee8271
      uses: larrylawl/auto-github-issue-labeller-action@v1.0
      with:
        # Github Personal Access Token
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # Every trigger labels issues up to %DELTA days back. Primary purpose is to label pre-existing issues on initial setup.
        # DELTA: # default is 1
        # Skips prediction when below confidence threshold. Select from interval [-10, 4]. 
        # CONFIDENCE: # default is 2
        # Github Repository to label
        REPOSITORY: https://github.com/mowatermelon/mw2-antd/
        # Issue label name for "features"
        # FEATURE: # default is enhancement
        # Issue label name for "bug"
        # BUG: # default is bug
        # Issue label name for "docs"
        # DOCS: # default is documentation
        # Version of action to use.
        # VERSION: # default is v1.0
