name: Greetings

on: [pull_request, issues]

# 给 issue 和 pr 添加自动回复

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: '感谢小伙伴对本仓库项目的第一次提问，我会尽快处理小伙伴的提问~ \n Thank you for your questions about the warehouse project. I will deal with your questions as soon as possible~'
        pr-message: '感谢小伙伴对本仓库项目的第一次改进建议，我会尽快处理小伙伴的建议~ \n Thank you for your suggestions on the improvement of the warehouse project. I will deal with your suggestions as soon as possible~'
    - name: Issue assigner
      # You may pin to the exact commit or the version.
      # uses: estrada9166/issue-assigner@160ffbaaa146e34d7f6cea7e0271c240adfb6c3c
      uses: estrada9166/issue-assigner@v1
      with:
        # The GITHUB_TOKEN secret
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # Create comments with the commit information
        WITH_COMMENTS: true
    - name: Issue chat
      # You may pin to the exact commit or the version.
      # uses: actions-cool/issue-chat@78318fed8b6d75fe06025d03cc5896b6ecaa571e
      uses: actions-cool/issue-chat@v0.1
    - name: Issue comment
      # You may pin to the exact commit or the version.
      # uses: kyoncy/issue-comment-actions@1b1e351bee044874171a5dc99598257425f6272c
      uses: kyoncy/issue-comment-actions@v1
      with:
        # GitHub token for use by this action.
        token: ${{ secrets.GITHUB_TOKEN }}
        # Message
        message: '感谢小伙伴对本仓库项目的第一次提问，我会尽快处理小伙伴的提问~ \n Thank you for your questions about the warehouse project. I will deal with your questions as soon as possible~'
